.circle{
    width: 200px;
    height: 200px;
    background-color: #03045e;
    transition: 5s;

}

.circle:hover{
    background-color: crimson;
    border-radius: 50%;
}

section div{
    width: 100px;
    height: 100px;
    background-color: crimson;
    margin: 20px 0;
    transition: margin-left 3s;

}

section:hover div{
    margin-left: 500px;
}