body{
    background-color: #eee;
    width: 100%;

}
.label{
    margin: auto;
    padding: 50px 25px 50px 25px;
    background-color: white;
    width: 60%;
    height: 500vh;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-align: center;
    font-family: 'roboto' sans-serif;
    justify-items: left;
}




.photo1{
    width: 300px;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: left;
}

.cam-photo{
    height: 350px;
    wid

}