/*h1{
    background-color: burlywood;
    Display:Inline;
}


span{
    background-color: palevioletred;
    display:inline-block;
    border:1px;
    padding: 10px;
}
*/


h2{
    font-size: 2em;
}

p{
    font-size: 0.8em;
}


article{
    font-size:30px;
}